<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii art</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <div class="body-container">
        {{template "Nav"}}
        <div class="art-container gray-back">
            <div class="result-heading">
                <h1>Art result</h1>
            </div>
            <div class="art">
                <pre>{{.}}</pre>
            </div>
            <div class="back-btn">
                <button onclick="history.back()" class="buttons">Go Back</button>
            </div>
        </div>
    </div>
</body>

</html>