<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
  <div class="body-container">
    {{template "Nav"}}
    <section class="form-container gray-back">
      <form action="/ascii-art" method="POST">
        <!-- <textarea name="str" id="str" cols="30" rows="10" placeholder="Enter the text to be displayed" class="str" required></textarea><br><br> -->
        <input type="text" id="str" name="str" placeholder="Enter the text to be displayed" class="str" required />

        <div class="select-banner">
          <h3>Select banner:</h3>
        </div>

        <div class="banners">
          <label for="standard" class="radio pointer">
            Standard
            <input type="radio" class="radio-input pointer" value="Standard" id="standard" name="banner" /><br />
            <div class="circle"></div>
          </label>

          <label for="shadow" class="radio pointer">
            Shadow
            <input type="radio" class="radio-input pointer" value="Shadow" id="shadow" name="banner" /><br />
            <div class="circle"></div>
          </label>

          <label for="thinkertoy" class="radio pointer">
            Thinkertoy
            <input type="radio" class="radio-input pointer" value="Thinkertoy" id="thinkertoy" name="banner" /><br />
            <div class="circle"></div>
          </label>
        </div>

        <div class="home-buttons">
          <input type="reset" value="Refresh" class="refresh-btn buttons" />
          <input type="submit" value="Create Art" class="buttons" />
        </div>
      </form>
    </section>
  </div>
</body>

</html>